.button__1 {
  box-sizing: border-box;

  width: 142px;
  height: 41px;

  color: var(--color-blue);

  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border: 1px solid var(--color-blue);
}

.button__2 {
  box-sizing: border-box;

  width: 142px;
  height: 41px;

  color: var(--color-white);

  background-color: var(--color-blue);
}

.button__3 {
  box-sizing: border-box;

  width: 142px;
  height: 41px;

  color: var(--color-white);

  background-color: var(--color-green);
}

.button__4 {
  box-sizing: border-box;

  width: 142px;
  height: 41px;

  color: var(--color-red);

  border: 1px solid var(--color-red);
}

.button__5 {
  box-sizing: border-box;

  width: 142px;
  height: 41px;

  background-color: var(--color-blue);
}

.btn_setor_bussiness {
  box-sizing: border-box;
  min-width: 93px;
  height: 32px;

  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 255px;

  padding: 0 15px;
}
