header {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  /* margin: 0 auto;
  padding: 10px; */

  /* background-color: var(--color-white100); */
}

header > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 10px;
}

header > select {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  color: var(--color-white100);
  background-color: var(--color-blue);
  outline: none;
}

.logo__container {
  width: 80%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 20px;

  gap: 16px;
}

i#menu {
  cursor: pointer;

  display: flex;
}

i#menu:hover {
  background-color: #00000010;

  border-radius: 10px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 40;
}

.menu__login {
  display: none;
  gap: 16px;
}
/**/
/* home main container */
.home__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  padding: 16px;
  gap: 40px;
}

/* home left */
.home__left {
  width: 550px;
  height: 743px;

  display: flex;
  display: none;
}

.home__left > img {
  -webkit-mask-image: linear-gradient(to right, transparent 0.5%, #000000 21%);

  border-radius: 8px;
  /* object-fit: cover; */
}

/* home right */
.home__right {
  position: relative;
  width: 100%;
  /* width: 550px; */
  height: auto;
  min-height: 332px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-white200);

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  gap: 20px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.home_right--header {
  width: 100%;
  height: 53px;

  display: flex;
  justify-content: center;
  padding: 10px;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  background-color: var(--color-blue);
}

.home__right--title {
  color: var(--color-white100);
}

.home__right--menu {
  position: absolute;
  right: 15px;

  cursor: pointer;
}

.home__right--info {
  min-width: 241px;
  height: 215px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

  background-color: var(--color-white100);

  border-bottom: 2px solid #4200ff50;

  margin-bottom: 20px;
  padding: 20px;
  gap: 30px;
}

.container__info {
  width: 90%;
  display: flex;

  margin-bottom: 20px;
  gap: 10px;

  overflow-y: auto;
}

/* Style ScrollBar - Barra de rolagem */
.container__info::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.container__info::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100px;
}

.container__info::-webkit-scrollbar-thumb {
  background-color: #4200ff;
  border-radius: 100px;
}

.container__info::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*  */
