.toast {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 6rem;
  width: 100%;
  max-width: 17rem;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;

  animation: toast 4s;
}

.color-green {
  color: var(--color-white100);
  background-color: var(--color-green);
}

.color-red {
  color: var(--color-white100);
  background-color: var(--color-red);
}

.color-admin {
  color: var(--color-gray100);
  background-color: var(--brand100);
}

@keyframes toast {
  0% {
    margin-bottom: -10rem;
  }

  25% {
    margin-bottom: 0;
  }

  50% {
    margin-bottom: 0;
  }

  75% {
    margin-bottom: 0;
  }

  100% {
    margin-bottom: -10rem;
  }
}
